<div class="row mb-2">
  {{#each posts as |post|}}
  <div class="col-md-6 mb-3">
    <div class="col p-4 d-flex flex-column position-static border rounded shadow-sm">
      <h3 class="mb-0">{{post.title}}</h3>
      <div class="mb-1 text-muted">By: {{user.username}} at {{format_date post.createdAt}}</div>
      <p class="card-text mb-auto">{{post.content}}</p>
      <a href="/dashboard/{{post.id}}">Edit post</a>
    </div>
  </div>
  {{else}}
  <div class="col-md-6 mb-3">
    <div class="col p-4 d-flex flex-column position-static border rounded shadow-sm">
      <h3 class="mb-0">No posts yet</h3>
    </div>
  </div>
  {{/each}}
</div>

<section class="add-post">
  <a type="button" class="btn btn-primary m-4" href="/newpost">Add Post</a>
</section>