{{#if posts.length}}
{{#each posts as |post|}}
<a class="post" href="/dashboard/{{post.id}}">
  <h2>{{post.title}}</h2>  
  <h3>By: {{user.username}} at {{format_date post.createdAt}}</h3>
  <p>{{post.content}}</p>
</a>
{{/each}}
{{else}}
<div>
  No posts yet
</div>
{{/if}}
